name: Deploy to development
on:
  push:
    branches:
      - "main"

jobs:
    redeploy:
        runs-on: ubuntu-latest
        name: Deploying everything to development cluster
        steps:
            - name: ssh into server
              run: |
                echo "${{secrets.SSH_KEY}} > ssh_key.pem
                chmod 400 ssh_key.pem
                ssh -i ssh_key.pem ec2-user@54.87.129.204
                cd test/
                git pull 
                pnpm install
                pnpm run build
                pm2 restart fe-server
                pm2 restart http-server
                pm2 restart ws-server
