name: Deploy to development
on:
  push:
    branches:
      - "main"

jobs:
    redeploy:
        name: Deploying everything to development cluster
        steps:
            - name: ssh into server
            - run: echo "hi"
